# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data & PIDs
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# TypeScript cache
*.tsbuildinfo

# Build and dist outputs
dist/
build/
out/
.next/
.nuxt/

# Environment and Secret files
.env
.env.*
!.env.example
!.env.*.example
*.env
*.env.*
!*.env.example
!*.env.*.example
waha.env

# Mobile & IDE
.idea/
.vscode/
*.iml
.gradle/
app/build/
*.apk
*.aab
.DS_Store

# Temporary and uploads
uploads/
/tmp/
